body {
  margin: 0;
  text-align: center;
  -webkit-background-image: url('/public/Arthur-Ashe.jpg');
  -moz-background-image: url('/public/Arthur-Ashe.jpg');
  -o-background-image: url('/public/Arthur-Ashe.jpg');
  background-image: url('/public/Arthur-Ashe.jpg');
  -webkit-background-color: #ccc5c5;
  -moz-background-color: #ccc5c5;
  -o-background-color: #ccc5c5;
  background-color: #ccc5c5;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-blend-mode: soft-light;
  -moz-background-blend-mode: soft-light;
  -o-background-blend-mode: soft-light;
  background-blend-mode: soft-light;
}

a {
  -webkit-transition: .75s;
  -moz-transition: .75s;
  -o-transition: .75s;
  transition: .75s;
}

a:hover {
  color: #1e3248;
  letter-spacing: 4px;

}

.top {
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.link {
  background-color: #339966;
  border: 2px solid #1e3248;
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4em;
}

.playerCard {
  display: flex;
  flex-flow: column nowrap;
  background-color: #339966;
  border: 2px solid #1e3248;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  margin: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
}