@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Berkshire+Swash&family=IBM+Plex+Serif&family=Marmelad&family=Pacifico&family=Permanent+Marker&display=swap');

body {
  margin: 0;
  text-align: center;
  -webkit-background-image: url('/public/Arthur-Ashe.jpg');
  -moz-background-image: url('/public/Arthur-Ashe.jpg');
  -o-background-image: url('/public/Arthur-Ashe.jpg');
  background-image: url('/public/Arthur-Ashe.jpg');
  -webkit-background-color: #ccc5c5;
  -moz-background-color: #ccc5c5;
  -o-background-color: #ccc5c5;
  background-color: #ccc5c5;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-blend-mode: soft-light;
  -moz-background-blend-mode: soft-light;
  -o-background-blend-mode: soft-light;
  background-blend-mode: soft-light;
}

a {
  -webkit-transition: .75s;
  -moz-transition: .75s;
  -o-transition: .75s;
  transition: .75s;
}

a:hover {
  color: #1e3248;
  letter-spacing: 4px;

}

.top {
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.link {
  background-color: #339966;
  border: 2px solid #1e3248;
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4em;
}

.playerCard {
  display: flex;
  flex-flow: column nowrap;
  background-color: #339966;
  border: 2px solid #1e3248;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  margin: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
}

.item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  flex: 1;
  margin: 5px;
  position: relative;
}

.parent {
  display: flex;
}

h4 {
  position: absolute;
  margin-top: 35px;
  bottom: 15px;
  left: 40px;
  background-color: #FFC72C;
  color: #0C4076;
  font-size: 0;
  font-family: 'Bangers', cursive;
}

.location {
  position: absolute;
  background-color: #FFC72C;
  color: #0C4076;
  font-size: 0;
  text-align: center;
  font-family: 'Bangers', cursive;
}

.selected {
  flex: 4;
}

.selected h4 {
  position: absolute;
  font-size: 40px;
  bottom: 5px;
  text-align: center;
  transition: all 1s ease-in;
  padding: 0px 10px;
}

.selected .location {
  transition: all 1s ease-in;
  bottom: 85px;
  left: 40px;
  text-align: right;
  font-size: 20px;
  padding: 0px 10px;
}

@media all and (max-width: 940px) {
  .parent {
    flex-direction: column;
    height: 150vh;
  }
  
  h4 {
    margin-top: 30px;
    bottom: 6px;
    left: 20px;
  }

  .selected h4 {
    font-size: 25px;
    bottom: 5px;
    padding: 0px 10px;
  }

  .selected .location {
    bottom: 60px;
    left: 20px;
    font-size: 15px;
  }

  .one {
    background-position: 50% 10%;
  }

  .two {
    background-position: 50% 15%;
  }

  .three {
    background-position: 50% 18%;
  }

  .four {
    background-position: 50% 20%;
  }

  .five {
    background-position: 50% 46%;
  }
  
  .six {
    background-position: 50% 19%;
  }
}

@media all and (max-width: 500px) {
  .parent {
    flex-direction: column;
    height: 150vh;
  }

  h4 {
    margin-top: 30px;
    bottom: 6px;
    left: 20px;
  }

  .selected h4 {
    font-size: 30px;
    bottom: 5px;
    padding: 0px 10px;
  }

  .selected .location {
    bottom: 65px;
    left: 20px;
    font-size: 15px;
  }

  .one {
    background-position: 50% 85%;
  }

  .two {
    background-position: 50% 90%;
  }

  .three {
    background-position: 50% 95%;
  }

  .four {
    background-position: 50% 85%;
  }

  .six {
    background-position: 50% 5%;
  }
}